# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
adh
adh.exe
agate
agate.exe

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoReleaser build artifacts
dist/

# OS / Editor files
.DS_Store
Thumbs.db
